@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F9F9F9;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
    width: 100vw;
    height: 56px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section {
    display: block;
    flex-wrap: wrap;
    width: 100%;
}

.section-direita {
    height: 300px;
    width: 400px;
}

.topo-logo {
    width: 146px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.topo-input {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.topo-direito {
    width: 140px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.search-button {
    position: absolute;
    height: 38px;
    right: 1px;
    background-color: #F8F8F8;
    border: none;
    cursor: pointer;
}

.search-button:hover {
    background-color: #cccccc;
}

.search-input::placeholder {
    color: #aaa;
}

.thumb-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.titulo-thumb {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}

.thumb {
    width: 196px;
    font-size: 12px;
    font-weight: 400;
    color: #515151;
    padding-left: 10px;

}

.thumb-video {
    width: 100%;

}

.titulo-video {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    text-align: left;
}
