.section-esqerda {
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#campo-video {
    max-width: 68%;
    height: 537px;
    padding: 10px;

}

#video {
    width: 95%;
    height: 500px;
}

#video iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#titulo-video {
    font-size: 1.2rem;
}

#detalhes {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 auto;
    align-items: center;
}

#perfil-canal {
    display: inline-flex;
    flex: 0 auto;
    align-items: center;
    gap: 10px;
}

#sobre-canal {
    display: inline-flex;
    flex-flow: column nowrap;
    flex: 0 auto;
    justify-content: flex-start;
    align-items: flex-start;
}

#imagem-canal {
    background: url('https://yt3.ggpht.com/yI1wflqa2uTsKtAOPj4f78hGjOSyp12uPt-OizVNK8sli7J4xJkx9DJxT1x6q_fTV_ckVYLtcb8=s48-c-k-c0x00ffffff-no-rj') center/100% scroll no-repeat;
    padding: 1.3em;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 50%;
}

#canal {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

#inscritos {
    align-self: flex-end;
    color: gray;
    margin: 0;
}

#inscrever {
    cursor: pointer;
    background-color: red;
    text-transform: uppercase;
    font-size: 0.7em;
    color: white;
    padding: 10px 20px;
    margin-left: 1.5em;
    border: 0;
}

#funcoes-video {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.3em;
    font-weight: bold;
    margin-left: 5em;
}


.botoes-video {
    cursor: pointer;
    vertical-align: middle;
    background: center/100% no-repeat transparent;
    padding: 10px;
    border: 0;
    margin-right: 1px;
}

#like {
    background-image: url('../imagens/thumbs-up.png');
}

#deslike {
    background-image: url('../imagens/Vector.png');
}

#compartilhar {
    background-image: url('../imagens/share-2.png');
}

#download {
    background-image: url('../imagens/download.png');
}

#estatistica-video {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    font-weight: bold;
}

#tags {
    font-weight: normal;
    color: gray;
}

#descricao {
    margin-top: 0;
    white-space: pre-line;
}

.rec-video {
    cursor: pointer;
    margin: 10px 0;
}

#sobre-video {
    font-size: 14px;
    color: #515151;
}